@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    padding: 10px;
    /*background: linear-gradient(45deg, #3C415E, #738598, #DFE2E2, #1CB3C8);*/
    /*background: linear-gradient(45deg, #D8DFE2, #71ADB5, #176D81, #0D3446);*/
    /*background: linear-gradient(45deg, #F4F7F7, #79A8A9, #4D727E, #1F4E5F);*/
    background: linear-gradient(45deg, #3C4245, #5F6769, #719192, #DFCDC3);
    display: flex;
    flex-direction: column;
}

/*-------------------------------------------------------------------------------------*/
.menu{
    background: linear-gradient(45deg, #0f0f0f, #444444, #6D9886, #D9CAB3, #F6F6F6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur( 7px );
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    height: 9vh;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 30px;
}

.nav-list a{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-list a:hover{
    color: white;
    background-color: #212121;
    border-radius: 40px;
    padding: 10px 50px;
}
.nav-list{
    display: flex;
    list-style: none;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 40px;
}
.exp{
    height: 50px;
    margin-right: 10px;
    margin-top: 2px;
    cursor: pointer;
}
.logo{
    margin-left: 10px;
    padding: 10px;
    border-radius: 40px;
}

/*-------------------------------------------------------------------------------------*/

.main{
    height: 95%;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur( 7px );
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: 20px;
}
.main_two{
    height: 95%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur( 7px );
    border: 1px solid rgba(255, 255, 255, 0.18);
}


/*-------------------------------------------------------------------------------------*/

.leftt{
    display: block;
    padding: 10px;
    width: 30%;
}
.leftt img{
    width: 100%;
    border-radius: 50px;
}


/*-------------------------------------------------------------------------------------*/

.rightt{
    padding: 30px;
    width: 70%;
    height: 100%;
}
.rightt h1{
    font-size: 2.5rem;
    font-family: 'Cormorant Garamond', serif;
}
.rightt p{
    padding: 5px;
    font-size: 1.3rem;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 5px;
    font-weight: bold;
    text-indent: 30px;
}
.formt{
    padding: 5px;
    margin-bottom: 20px;
}
.formt h4{
    font-size: 1.9rem;
    margin-bottom: 8px;
    font-family: 'Cormorant Garamond', serif;
}
.formt ul{
    padding: 8px;
    margin-left: 25px;
    list-style-type: disc;
}
.formt ul li{
    margin: 3px;
    font-size: 1.1rem;
}
.formt ul li a{
    color: black;
}


/*-------------------------------------------------------------------------------------*/

.blockeng{
    background-color: white;
    margin: 10px;
    border-radius: 30px;
    padding: 5px;
    display: flex;
    margin-bottom: 50px;
    height: 300px;
}

.pho-2{
    border-radius: 30px;
    box-shadow: 0 8px 32px 0 rgba(10, 11, 32, 0.37);
    padding: 2px;
    margin-right: 5px;
    width: 40%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.pho-2 img{
    height: 95%;
    width: 95%;
}

.blockeng-info{
    display: flex;    
    flex-direction: column;
    width: 60%;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 8px 32px 0 rgba(10, 11, 32, 0.37);

}
.blockeng-info h2{
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
}
.blockeng-info p{
    text-align: justify;
    font-size: 0.8rem;
    text-indent: 20px;
    margin: 3px;
}

.photo{
    position: absolute;
    opacity: 0;
    animation-name: animation0;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes animation0 {

    25%{
        opacity: 1;
        transform: scale(1.1, 1.1);
    }

    50%{
        opacity: 0;
    }
    
}

.photo:nth-child(1){
    animation-delay: 0s;
}
.photo:nth-child(2){
    animation-delay: 10s;
}
.photo:nth-child(3){
    animation-delay: 20s;
}


/*-------------------------------------------------------------------------------------*/

.main_two h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 30px;
}

.eng{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.eng h3{
    font-size: 2.5rem;
    font-family: 'Cormorant Garamond', serif;
    margin: 15px;
}
.eng-blocs{
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 370px;
}
/*-------------------------------------------------------------------------------------*/

.info-pess{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.info-itens{
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 0px;
}
.info-itens h5{
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Cormorant Garamond', serif;
}
.info-itens img{
    height: 40px;
}





/*-----------------------------------------------------------------*/

@media (max-width: 1340px) {
    .eng-blocs{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
    }
    .blockeng{
        margin: 5px;
        margin-bottom: 10px;
        height: 250px;
    }
}

@media (max-width: 1058px) {
    .main{
        flex-direction: column;
        align-items: center;
    }
    .menu{
        background: linear-gradient(45deg, #444444, #6D9886, #D9CAB3, #F6F6F6);
        height: 8vh;
    }
    .exp{
        height: 40px;
    }
    

    .rightt{
        width: 100%;
    }

    .eng-blocs{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 300px;
    }
}

@media (max-width: 750px) {
    .logo{
        display: none;
    }

    .leftt{
        width: 60%;
    }


    .rightt h1{
        font-size: 2rem;
    }
    .rightt p{
        padding: 3px;
        font-size: 1rem;
        margin-bottom: 3px;
    }
    .formt{
        margin-bottom: 10px;
    }
    .formt h4{
        font-size: 1.5rem;
    }
    .formt ul{
        margin-left: 20px;
    }
    .formt ul li{
        margin: 3px;
        font-size: 1.1rem;
    }
}

@media (max-width: 580px) {

    .eng-blocs{
        grid-auto-rows: 320px;
    }
    .blockeng{
        height: 300px;
    }
    
}