@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    padding: 10px;
    /*background: linear-gradient(45deg, #3C415E, #738598, #DFE2E2, #1CB3C8);*/
    /*background: linear-gradient(45deg, #D8DFE2, #71ADB5, #176D81, #0D3446);*/
    background: linear-gradient(45deg, #F4F7F7, #79A8A9, #4D727E, #1F4E5F);
    display: flex;
    flex-direction: column;
}

/*-------------------------------------------------------------------------------------*/
.menu{
    background: linear-gradient(45deg, #0f0f0f, #444444, #6D9886, #D9CAB3, #F6F6F6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur( 7px );
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    height: 9vh;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 30px;
}

.nav-list a{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-list a:hover{
    color: white;
    background-color: #212121;
    border-radius: 40px;
    padding: 10px 50px;
}
.nav-list{
    display: flex;
    list-style: none;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 40px;
}
.exp{
    height: 50px;
    margin-right: 10px;
    margin-top: 2px;
    cursor: pointer;
}
.logo{
    margin-left: 10px;
    padding: 10px;
    border-radius: 40px;
}

/*-------------------------------------------------------------------------------------*/

.main{
    height: 80vh;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur( 7px );
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
}
.main h1{
    font-size: 5rem;
}
.main h5{
    font-size: 3rem;
}

